@use "@/style/main" as *;

#main {
  @include display-flex(column);
  overflow: hidden;

  #home,
  #projects {
    background-color: $background;
  }
  #about-me,
  #contact-me {
    background-color: $reversedBackground;
  }
}

@include media-query($media-md) {
}
