@use "@/style/main" as *;

@keyframes iconAnimation {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(-70%);
  }
}
@keyframes mobileIconAnimation {
  0% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(-270%);
  }
}

#about-me {
  @include container-section($reversedBackground, "/background/second-background-900x450.svg", column);

  .resume {
    p {
      @include font($fontMontserrat, 1.2rem, $color, justify);
      max-width: clamp(min(95dvw, 45rem), 65dvw, 95dvw);
    }
  }
  .skills {
    @include general-properties(70dvw, 100%);
    overflow: hidden;

    .icons {
      @include display-flex(row, center);
      height: 100%;
      animation: iconAnimation 10s linear infinite;
      animation-direction: alternate;
      &:hover {
        animation-play-state: paused;
      }

      span {
        @include display-flex(column, center);
        min-width: 4rem;
        justify-content: center;
        --legendColor: transparent;

        img {
          @include image(2.5rem, 2.5rem, contain);
        }
        p {
          @include font($fontMontserrat, 0.7rem, var(--legendColor), center);
          width: max-content;
          margin-top: 0.2rem;
          user-select: none;
        }
        &:hover {
          --legendColor: $color;
        }
      }
    }
  }

  @include media-query($media-md) {
    @include display-flex(column);
    background-image: url("/background/second-background-675x900.svg");
    margin-top: -3px;
    .resume {
      p {
        max-width: clamp(min(90dvw, 35rem), 65dvw, 95dvw);
        font-size: 1.05rem;
        line-height: 1.15;
      }
    }
    .skills {
      width: 95dvw;
      .icons {
        animation-name: mobileIconAnimation;
      }
    }
  }
}
