@keyframes iconAnimation {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(calc(-150%));
  }
}
@keyframes mobileIconAnimation {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(calc(-530%));
  }
}

#about-me {
  height: 75dvh;
  width: 100dvw;
  margin-top: 0;
  background-image: url("/about-me-background.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  filter: invert(var(--filter));

  .title {
    font-size: 3rem;
    text-align: center;
    color: var(--color);
    margin-bottom: 0;
    filter: invert(var(--filter));
  }

  .resume {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    p {
      color: var(--color);
      filter: invert(var(--filter));
      font-size: 1.3rem;
      font-weight: 500;
      text-align: justify;
      max-width: 55dvw;
      margin: 0;
    }
  }
  .skills {
    width: 70dvw;
    overflow: hidden;
    margin: auto;

    .icons {
      animation: iconAnimation 10s linear infinite;
      animation-direction: alternate;
      display: flex;

      &:hover {
        animation-play-state: paused;
      }

      span {
        margin: 2rem;
        text-align: center;
        img {
          width: 48px;
          height: 48px;
          object-fit: cover;
        }
        p {
          font-size: small;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  #about-me {
    .resume {
      p {
        max-width: 95dvw;
      }
    }
    .skills {
      width: 95dvw;
      .icons {
        animation: mobileIconAnimation 10s linear infinite;
        animation-direction: alternate;
      }
    }
  }
}
