@keyframes iconAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% * 14));
  }
}

#about-me {
  margin: 1rem;
  margin-top: 0;
  .title {
    font-family: var(--bagel-font);
    font-size: 5.5rem;
    text-align: center;
    text-decoration: underline;
    color: var(--color);
    margin-bottom: 1.5rem;
  }

  .resume {
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      height: 60dvh;
      width: 25dvw;
      object-fit: cover;
      border-radius: 20px;
      user-select: none;
      border: 5px solid black;
    }
    div {
      width: 60dvw;
      margin: 1rem;
      margin-top: 0;
      display: flex;
      justify-content: center;
      p {
        color: var(--color);
        font-family: var(--diphy-font);
        font-size: 2rem;
        font-weight: 500;
        text-align: justify;
        max-width: 50dvw;
      }
    }
  }
}
