@use "@/style/main" as *;

.contact-links {
  @include display-flex(row, center, center);
  width: 100dvw;
  margin-bottom: 0.5rem;
  a {
    img {
      @include image(clamp(3rem, 3rem, 4.5dvw), clamp(3rem, 3rem, 4.5dvw), cover);
      margin: 1rem;
      border-radius: 50%;
      box-shadow:
        inset 0px 0px 20px 20px white,
        0px 0px 10px 5px white;
      transition: box-shadow 0.5s;

      &:hover {
        box-shadow:
          inset 0px 0px 20px 20px white,
          0px 0px 15px 10px white;
        transform: scale(1.1);
      }
    }
  }
}

.download-cv {
  @include display-flex(row, center, center);

  a {
    @include display-flex(row, center, center);
    gap: 1rem;
    img {
      @include image(clamp(2.5rem, 2.5rem, 3dvw), clamp(2.5rem, 2.5rem, 3dvw), cover);
    }

    p {
      @include font($fontMontserrat, 1.2rem, $color, center);
      text-decoration: underline;
    }
    &:hover {
      transform: scale(1.15);
    }
  }
}
