@use "@/style/main" as *;

@keyframes scroll {
  to {
    transform: translate(-50%);
  }
}

.skills {
  @include display-flex(row, center, center);
  max-width: 90dvw;
  height: 100%;
  overflow: hidden;
  .icons {
    @include display-flex();
    padding-block: 1rem;
    flex-wrap: wrap;
    gap: 0.5rem;

    span {
      @include display-flex(column, center, center);
      min-width: 3rem;
      flex: 1;
      margin: 0 0.5rem;
      --legendColor: transparent;

      img {
        @include image(2.5rem, 2.5rem, contain);
      }
      p {
        @include font($fontMontserrat, 0.7rem, var(--legendColor), center);
        width: max-content;
        user-select: none;
      }
      &:hover {
        --legendColor: $color;
      }
    }
  }

  @include media-query($media-md) {
    max-width: 95dvw;
  }
}

.skills[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);

  .icons {
    padding-block: 1rem;
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 15s forwards linear infinite;

    span {
      min-width: 4.5rem;
      padding: 0.5rem;
      gap: 0.5rem;
    }
  }
}
