a {
  text-decoration: none;
  cursor: pointer;
  &:active,
  &:visited {
    text-decoration: none;
  }
}

button {
  background-color: transparent;
  user-select: none;
  cursor: pointer;
}

strong {
  font-weight: 700;
}
