@keyframes topline {
  from {
    margin-right: 10dvw;
    margin-left: 90dvw;
    width: 0;
  }
  to {
    margin-right: 10dvw;
    margin-left: 0dvw;
    width: 90dvw;
  }
}
@keyframes bottomline {
  from {
    margin-right: 90dvw;
    margin-left: 10dvw;
    width: 0;
  }
  to {
    margin-right: 0dvw;
    margin-left: 10dvw;
    width: 90dvw;
  }
}

header {
  margin-top: 5px;
  margin-bottom: 5px;
  .line {
    height: 0.3rem;
    width: 90dvw;
    background-color: black;
    border-radius: 0 35% 35% 0;
  }
  .top-line {
    margin-right: 10dvw;
    animation-name: topline;
    animation-duration: 2s;
  }
  .bottom-line {
    margin-left: 10dvw;
    transform: rotateY(180deg);
    animation-name: bottomline;
    animation-duration: 2s;
  }
  nav {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    .logo {
      justify-self: start;
      img {
        user-select: none;
      }
    }
    .links {
      width: 100%;
      justify-self: center;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      a {
        margin: 1.3rem;
        color: black;
        p {
          font-size: 1.7rem;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  header {
    nav {
      grid-template-columns: 1fr;
      grid-template-rows: 65% 35%;

      .logo {
        justify-self: center;
        img {
          height: 70px;
          margin-top: 5px;
        }
      }
      .links {
        a {
          margin: 0.4rem;
          p {
            font-size: 1.3rem;
            margin: 0;
          }
        }
      }
    }
  }
}
