@keyframes topline {
  from {
    width: 0;
    margin-right: 10dvw;
    margin-left: 90dvw;
  }
  to {
    width: 90dvw;
    margin-right: 10dvw;
    margin-left: 0dvw;
  }
}
@keyframes bottomline {
  from {
    width: 0;
    margin-left: 10dvw;
    margin-right: 90dvw;
  }
  to {
    width: 90dvw;
    margin-left: 10dvw;
    margin-right: 0dvw;
  }
}

header {
  position: fixed;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: top 0.5s;
  .line {
    height: 0.3rem;
    width: 90dvw;
    background-color: var(--color);
    border-radius: 0 50% 50% 0;
  }
  .top-line {
    margin-right: 10dvw;
    margin-top: 0.3rem;
    animation-name: topline;
    animation-duration: 2s;
  }
  .bottom-line {
    margin-left: 10dvw;
    margin-bottom: 0.3rem;
    transform: rotateY(180deg);
    animation-name: bottomline;
    animation-duration: 2s;
  }
  nav {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    .logo {
      justify-self: start;
      margin-left: 1.5rem;
      img {
        width: 8rem;
        height: 8rem;
        object-fit: contain;
        user-select: none;
        filter: invert(var(--filter));
      }
    }
    .links {
      width: 100%;
      justify-self: center;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      a {
        margin: 1rem;
        color: var(--color);

        &:visited {
          color: var(--color);
        }
        p {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  header {
    nav {
      grid-template-columns: 1fr;
      grid-template-rows: 65% 35%;

      .logo {
        justify-self: center;
        margin: 0;
        img {
          height: 4rem;
          margin-top: 5px;
        }
      }
      .links {
        a {
          margin: 0.4rem;
          p {
            font-size: 1.3rem;
            margin: 0;
          }
        }
      }
    }
  }
}
