@use "@/style/main" as *;

#home {
  @include container-section($background, "/background/first-background-900x450.svg");
  justify-content: center;

  .intro {
    margin: 15svh 0 0 0;
    @include display-flex(column);

    .greet {
      @include display-flex(row, flex-end);
      width: 100%;

      span {
        @include display-flex(column, flex-start);
        flex: 1;

        h1 {
          @include font($fontPoiretOne, 2.8rem, $color);
          text-wrap: nowrap;
        }
      }
      img {
        @include image(20rem, auto, cover);
        flex: 1;
      }
      p {
        @include font($fontMontserrat, 1.2rem, $color);

        mark {
          color: $color;
          background-color: $secColor;
          text-wrap: nowrap;
          white-space: nowrap;
        }
      }
    }
  }

  @include media-query($media-md) {
    background-image: url("/background/first-background-675x900.svg");

    .intro {
      .greet {
        max-width: 90dvw;
        span {
          h1 {
            font-size: 1.8rem;
            text-wrap: balance;
          }
        }
        img {
          width: 13rem;
        }
        p {
          font-size: 1rem;
          max-width: 99dvw;
        }
      }
    }
  }
}
