@keyframes ChangeAvatar {
  0% {
    background-image: url("../../../../../../public/mr.svg");
  }
  50% {
    background-image: url("../../../../../../public/mr-burger.svg");
  }
  100% {
    background-image: url("../../../../../../public/mr-burger-developer.svg");
  }
}
@keyframes ChangeText {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#home {
  .intro {
    background-color: var(--background-color);
    color: var(--color);
    display: flex;
    justify-content: center;
    margin: 1.5rem;

    img {
      width: 75dvw;
      height: 65dvh;
      object-fit: cover;
      user-select: none;
    }
  }
}
