@keyframes ChangeAvatar {
  0% {
    background-image: url("../../../../../../public/mr.svg");
  }
  50% {
    background-image: url("../../../../../../public/mr-burger.svg");
  }
  100% {
    background-image: url("../../../../../../public/mr-burger-developer.svg");
  }
}
@keyframes ChangeText {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#home {
  .intro {
    background-color: var(--background-color);
    color: var(--color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5rem;
    .intro-avatar {
      height: 20rem;
      width: 20rem;
      background-image: url("../../../../../../public/mr.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      animation-name: ChangeAvatar;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
      animation-duration: 7s;
      animation-delay: 1.5s;
      animation-fill-mode: forwards;
      filter: invert(var(--filter));
    }
    .intro-text {
      height: 30rem;
      width: 45rem;
      color: var(--color);
      font-size: 1.6rem;
      line-height: 170%;
      span {
        display: flex;
        &:nth-child(1) {
          width: 0;
          animation-name: ChangeText;
          animation-duration: 1.6s;
          animation-delay: 0.5s;
          animation-fill-mode: forwards;
          animation-timing-function: linear;
        }
        &:nth-child(2) {
          width: 0;
          animation-name: ChangeText;
          animation-duration: 2s;
          animation-delay: 2.5s;
          animation-fill-mode: forwards;
          animation-timing-function: linear;
        }
        &:nth-child(3) {
          width: 0;
          animation-name: ChangeText;
          animation-duration: 2s;
          animation-delay: 4.5s;
          animation-fill-mode: forwards;
          animation-timing-function: linear;
        }
        p {
          overflow: hidden;
          white-space: nowrap;
          color: var(--color);
        }
      }
    }
  }
}
