@keyframes ChangeAvatar {
  0% {
    background-image: url("../../../../../../public/mr.svg");
  }
  50% {
    background-image: url("../../../../../../public/mr-burger.svg");
  }
  100% {
    background-image: url("../../../../../../public/mr-burger-developer.svg");
  }
}
@keyframes ChangeText {
  0% {

  }
  50% {

  }
  100% {
    
  }
}

#home {
  .intro {
    background-color: #fbfbfb;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    .intro-avatar {
      margin: 1rem;
      height: 20rem;
      width: 20rem;
      background-image: url("../../../../../../public/mr.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      animation-name: ChangeAvatar;
      animation-timing-function: linear;
      animation-duration: 7s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
    .intro-text {
      height: 30rem;
      color: var(--color);
      font-size: 1.6rem;
      line-height: 200%;
      p {
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
  }
}
