@use "@/style/main" as *;

#contact-me {
  @include container-section($background, "/background/fourth-background-900x450.svg", column);
  position: relative;

  .title {
    @include font($fontPoiretOne, 3.5rem, $color, center);
    margin: 15dvh 0 1rem 0;
  }
  .resume {
    width: 100dvw;
    @include display-flex();
    align-items: center;
    justify-content: center;

    p {
      @include font($fontMontserrat, 1.2rem, $color, justify);
      max-width: 55dvw;
    }
  }
  .links {
    width: 100dvw;
    margin: 1rem;
    @include display-flex();
    align-items: center;
    justify-content: center;
    a {
      img {
        @include image(3rem, 3rem, cover);
        margin: 1rem;
        border-radius: 50%;
        box-shadow: 0px 0px 5px 1px white;
        transition: box-shadow 0.5s;
        background:
          linear-gradient(white, white) padding-box,
          linear-gradient(to left, rgb(187, 187, 187), rgb(223, 223, 223)) border-box;
        &:hover {
          box-shadow: 0px 0px 10px 3px white;
        }
      }
    }
  }
  .download-cv {
    @include display-flex();
    justify-content: center;

    a {
      @include display-flex();
      justify-content: center;
      align-items: center;
      gap: 1rem;

      p {
        @include font($fontMontserrat, 1.4rem, $color, center);
        text-decoration: underline;
      }
      &:hover {
        p {
          font-size: 1.6rem;
        }
      }
    }
  }
  .footer {
    @include display-flex();
    width: 100dvw;
    position: absolute;
    top: 95%;

    p {
      @include font($fontMontserrat, 1rem, $color, center);
      margin: auto;
    }
  }

  @include media-query($media-md) {
    background-image: url("/background/fourth-background-675x900.svg");
    margin-top: -3px;

    // .title {
    //   margin-top: 7dvh;
    // }
    .resume {
      P {
        font-size: 1.1rem;
        max-width: 80dvw;
      }
    }
  }
}
