@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

:root {
	--diphy-font: 'Diphylleia', serif;
	--bagel-font: 'Bagel Fat One', cursive;
	--background-color: #fbfbfb;
	--color: black;
	--filter: 0;
}

[data-theme='dark'] {
	--background-color: black;
	--color: white;
	--filter: 1;
}
