:root {
	--color: #050505;
	--background-color: #e6e5e5;
	--accent: #404444;
	--sec-color: #dfdddd;
	--filter: 0;
	--z-index: 1;
}

[data-theme='dark'] {
	--color: rgb(234, 234, 234);
	--background-color: rgb(25 26 26);
	--accent: #acacac;
	--sec-color: #5e5e5e;
	--filter: 1;
}
