html {
  all: unset;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--background-color);
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 24dvh);

  ::-webkit-scrollbar {
    width: 1px;
  }
}

body {
  all: unset;
}

#app {
  min-height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background-color);
}
