html {
  all: unset;
  width: 100dvw;
  background-color: var(--background-color);
  // filter: invert(var(--filter));
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 9rem);
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    border: 0;
    width: 0.063rem;
    background-color: var(--accent);

    &:hover {
      width: 0.6rem;
      background-color: #888;
    }
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--accent);
  }
}

.on-scrollbar {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0.6rem;
    background-color: #888;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--accent);
  }
}

body {
  all: unset;
}

#app {
  width: 100dvw;
  display: flex;
  flex-direction: column;
}

@media (max-width: 700px) {
  html {
    ::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }
  }
}
