@use "@/style/main" as *;

#root {
  @include general-properties(100dvw, auto, $backgroundColor);
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  scroll-padding: 0;
  position: relative;

  &::-webkit-scrollbar {
    @include general-properties(0.063rem, auto, $accent);

    &:hover {
      @include general-properties(0.6rem, auto, #888);
    }
  }
  &::-webkit-scrollbar-thumb {
    background-color: $accent;
  }
}

.on-scrollbar {
  overflow-y: auto;
  &::-webkit-scrollbar {
    @include general-properties(0.6rem !important, auto, #888 !important);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $accent !important;
  }
}

#app {
  @include general-properties(
    100dvw,
    calc(100dvh * 4)
  ); // 100dvh * n => where n is the number of main sections (home, aboutme, projects, contactme)
  @include display-flex(column);
  position: relative;
}
