@use "@/style/main" as *;

.project-links {
  @include display-flex(row, center, center);
  gap: 4rem;
  margin: 1rem;

  @include media-query($media-md) {
    gap: 2rem;
  }

  .urls {
    height: auto;
    button {
      @include general-properties(9rem, 2.5rem, rgb(186, 186, 186));
      @include display-flex(row, center, center);
      gap: 0.5rem;
      border: 1px solid gray;
      border-radius: 5px;
      box-shadow: 0px 0px 4px 1px black;
      p {
        @include font($fontMontserrat, 1.1rem, $color, center);
      }
      &:hover {
        background-color: rgb(146, 146, 146);
        box-shadow: 0px 0px 6px 1px black;
      }
      &:active {
        background-color: rgb(127, 127, 127);
        box-shadow: 0px 0px 9px 1px black;
      }
    }
  }
}
