@use "@/style/main" as *;

@keyframes FadeIn {
  from {
    height: 100svh;
    opacity: 0;
    display: none;
  }
  to {
    height: 100svh;
    opacity: 1;
    display: flex;
  }
}

.projects-album {
  @include general-properties(55%, auto, transparent);
  @include display-flex(row, center, center);

  span {
    @include display-flex(row, center);
    flex: 1;
  }

  .album-button {
    @include general-properties(auto, auto, transparent);
    @include display-flex(row, center);
    @include font($fontPoiretOne, 5rem, $color, center);
    font-weight: 600;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 0.5;
    }

    &.left {
      margin-right: 0.25rem;
    }
  }

  @include media-query($media-md) {
    width: min(98%, 42rem);

    .album-button {
      &.right {
        margin-right: 0.15rem;
      }
    }
  }
}
