@use "@/style/main" as *;

#projects {
  @include container-section($reversedBackground, "/background/third-background-900x450.svg", column);

  .title {
    margin-bottom: 0;
  }

  @include media-query($media-md) {
    background-image: url("/background/third-background-675x900.svg");
    .projects-album {
      @include general-properties(98dvw, 70svh);

      .album-button {
        &.right {
          margin-right: 0.15rem;
        }
      }
    }
  }
}
