#projects {
  min-height: 120dvh;
  width: 100dvw;
  background-image: url("/projects-background.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  filter: invert(var(--filter));

  .title {
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
    color: var(--color);
    filter: invert(var(--filter));
  }

  .projects-album {
    height: 60dvh;
    width: 80dvw;
    margin: auto;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;

    span {
      display: grid;
      justify-items: center;
      position: relative;
    }

    button {
      font-size: 5rem;
      font-weight: 600;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      opacity: 0.7;
      z-index: 1;

      &:hover {
        opacity: 1;
      }

      &:active {
        font-size: 5.5rem;
      }
    }
  }
}

@media (max-width: 700px) {
  #projects {
    min-height: 85dvh;

    .projects-album {
      width: 100dvw;

      span {
        .project {
          width: 75dvw;
        }
      }
    }
  }
}
