@use "@/style/main" as *;

dialog {
  height: 100dvh;
}

dialog[open] {
  @include general-properties(100dvw, 100dvh, rgb(230 230 230));
  @include display-flex(column, center);
  top: 0;
  z-index: 9999;
  overflow: hidden;
  cursor: default;

  .dialog-header {
    @include general-properties(100%, auto);
    @include display-flex(row, center);

    button.close-modal {
      @include general-properties(auto, auto);
      position: absolute;
      top: 1%;
      left: 0.5%;

      img {
        @include image(3rem, 3rem, cover);
      }
    }
    .project-title {
      @include font($fontPoiretOne, 4rem, $color, center);
      width: 100%;
      margin: 1.5rem 0 1rem 0;

      @include media-query($media-md) {
        font-size: 3rem;
        margin: 0;
      }
    }
  }

  .project-display {
    @include general-properties(100%, auto);
    @include display-flex(row, flex-start);
    overflow: hidden;
    position: relative;

    @include media-query($media-md) {
      overflow-y: auto;
      margin: 0 0 0.5rem 0;
    }

    &::-webkit-scrollbar {
      @include general-properties(0.5rem, auto, #888);
      border: 0;

      &:hover {
        width: 0.6rem;
      }
    }
    &::-webkit-scrollbar-thumb {
      background-color: $accent;
    }

    .project-wrapper {
      @include general-properties(100%, auto);
      @include display-flex(row, stretch);
      overflow: hidden;

      @include media-query($media-md) {
        @include display-flex(column-reverse);
        height: auto;
      }
    }

    .video-stack {
      @include general-properties(45%, auto);
      @include display-flex(column, center);
      flex: 1;
      max-width: 45%;
      gap: 0.5rem;
      margin: 0.3rem;


      @include media-query($media-md) {
        @include general-properties(95%, 100%);
        max-width: 95%;
        margin: 0;
        overflow: hidden;
      }
    }

    .description-links {
      @include general-properties(55%, auto);
      @include display-flex(column, center, space-between);
      flex: 1;
      margin: 0.2rem;

      &::-webkit-scrollbar {
        @include general-properties(0.5rem, auto, #888);
      }
      &::-webkit-scrollbar-thumb {
        background-color: $accent;
      }

      @include media-query($media-md) {
        @include general-properties(95%, auto);
        margin: 0;
        overflow: hidden;
      }
    }
  }
}
