@use "@/style/main" as *;

@mixin generate-dialog-keyframes($name) {
  @keyframes #{$name} {
    from {
      @include general-properties(0%, 100svh, rgba(230, 230, 230, 0.276));
      transform: translateX(100dvw);
      opacity: 0;
    }
    to {
      @include general-properties(100%, 100svh, rgb(230 230 230));
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@include generate-dialog-keyframes(FillScreen);
@include generate-dialog-keyframes(ExitScreen);

.project {
  @include general-properties(100%, 60svh);
  max-height: 60svh;
  background:
    linear-gradient(rgb(69 69 69), rgb(136 136 136)) padding-box,
    linear-gradient(to left, rgb(83 69 69), rgb(49 45 45)) border-box;
  border-radius: 15px;
  border: 2px solid transparent;
  box-shadow: 0px 0px 15px 0px gray;
  display: none;
  cursor: pointer;

  &:first-child {
    @include display-flex();
  }
}
